################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dissertation/packages
/Dissertation/.vs/Dissertation
/Dissertation/src/UnifiedModel/UnifiedModel.SourceGenerator/bin/Debug/netcoreapp3.1
/Dissertation/src/UseCase/UseCase.Contracts/bin/Debug/netcoreapp3.1
/Dissertation/src/UseCase/UseCase.Contracts/obj
/Dissertation/src/UseCase/UseCase.Database/bin/Debug
/Dissertation/src/UseCase/UseCase.Database/obj/Debug
/Dissertation/src/UseCase/UseCase.NeoConnector/bin/Debug/netcoreapp3.1
/Dissertation/src/UseCase/UseCase.NeoConnector/obj
/Dissertation/src/UseCase/UseCase.SmartContracts/bin/Debug/netstandard2.1
/Dissertation/src/UseCase/UseCase.SmartContracts/obj
/Dissertation/src/UseCase/UseCase.SqlClient/bin/Debug/netcoreapp3.1
/Dissertation/src/UseCase/UseCase.SqlClient/obj
/Dissertation/src/UseCase/UseCase.Database/UseCase.Database.jfm
/Dissertation/src/UseCase/UseCase.Database/UseCase.Database.dbmdl
/Dissertation/src/UnifiedModel/UnifiedModel.SourceGenerator/obj
/Dissertation/src/UnifiedModel/UnifiedModel.Connectors/bin/Debug/netcoreapp3.1
/Dissertation/src/UnifiedModel/UnifiedModel.Connectors/obj
